body,ul{
	margin: 0px;
	padding: 0px;
}
#id_header{
	width: 980px;
	height: 125px;
	border-top: solid 4px #3b7a9d;
	margin: auto;
}
.class_img{
	width: 130px;
	display: block;
	float: left;
	padding:10px 0px;
}
.wrap_1{
	/*width: 250px;
	height: 35px;*/
	float: right; 
	padding: 45px 30px 45px 0px;
}
.edit_search{
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	width: 250px;
	/*height: 35px;*/
	float: left;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}
.button_search{
	float: right;
	width: 70px;
	/*height: 35px;*/
	background: #3b7a9d;
	text-align: center;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
}
.content_1{
	width: 980px;
	/*height: 60px;*/
	background: #3b7a9d;
	margin: auto;
}
.ul_cls{
	list-style: none;
}
.li_cls{
	display: inline-block;
	color: white;
	padding-left: 10px;
	text-align: center;
	padding-top: 21px;
	padding-bottom: 21px;
}
.li_cls:hover{
	color: #cccccc;
}
